.form {
	display: flex;
	gap: 1em;
}

/* .good {
	background-color: rgb(18, 206, 11);
}

.neutral {
	background-color: rgb(245, 231, 35);
}

.bad {
	background-color: rgb(206, 11, 11);
} */

button {
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	box-shadow: 0px 0px 5px 1px;
	font-weight: 700;
	color: rgb(0, 0, 0);
}

button:hover {
	font-size: 15px;
}

button:active {
	font-size: 13px;
	box-shadow: none;
}
